@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans&family=Oswald&family=Poppins:wght@300&family=Roboto:wght@300&family=Scheherazade+New&display=swap');


*{
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: lato, sans-serif; 
    font-weight: 300;
    color: black;
}

/* headings nad logo style */

h1 {
   font-family: Poppins, sans-serif;
   color:rgb(116, 65, 65);
   letter-spacing: 3px;
   text-transform: uppercase;
   margin-left: 20px;
}

#title {
    font-size: 250%;
float: left;
}

/* Navigation links */

#links {
    Font-size:100% ;
    letter-spacing: 3px;
}

#links, #title {
    line-height: 80px;
}

#links li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#links a {
text-decoration: none;
}

#links a:hover {
    border-bottom: 1px solid black;
   
}

#colorpens {
    height: 800px;
    width: 100%;
    background: url('../images/art.jpg') no-repeat center center;
    background-position: center;
    background-size: cover;
    background-position-y: 0;
}



#creative {
    font-family: cursive; 
    font-size: 400%;
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  color: rgb(0, 0, 0);
}

/* about us section */



#about {
    background: url('../images/cover.jpeg') no-repeat center left;
    background-position: right;
    background-size: 50%;
    margin: 10px;
    height: 600px;
    font-size: 300%;
    font-weight: bold;}

#about-t {
    color: rgb(0, 0, 0);
    font-size: 40px;
}

#para {
    font-size: 30px;
    
}

#table{
    color:black;
    text-align: left;
    font-size: 40px;
}

table{
    margin-top: 35px;
    border: 1px solid black;
}


/* activities section */

#activities {
    margin-top: 60px;
    font-size: 35px;
    margin-bottom: 10px;
    height: 600px;
    width: 100%;
}

.frame1 {
    width: auto;
    padding: 80px;
    margin: auto;
}



/* gallery section */

#artgallery{
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    padding-top: 0;
}

#artgallery > img{
    width: 100%;
}


/* social media section */

footer {
    background: rgb(0, 0, 0);
    height: auto;
    width: 100vw;
    font-family: "open sans";
    padding-top: 10px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 60px;
    font-size: 14px;
}

.socials    {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-bottom: 35px;
}

.socials li {
    margin: 10px;
    padding: 0;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
font-size: 2rem;
transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}






